<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </configSections>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <appSettings>
    
	  <add key="PangoUrl" value="https://testusa.pango-cloud.info/QR_API/"/>
	  <add key="PangoToken" value="LS34asDN@5dsfa11SSQR"/>
	  <add key="InstallationId" value="2"/>
	  <add key="SerialNumber" value="1"/>
	  <add key="TerminalId" value="201"/>
	  <add key="CurrentLanguage" value="en"/>

	  <add key="ShowTestInput" value="false"/>

	  <!--Serial/Output-->
	  <add key="ReaderSource" value="Output"/>
	  <add key="ReaderComPort" value="COM1"/>
	  <add key="ReaderBauds" value="9600"/>

	  <!--DATOS DE CONEXION A LA PICOV-->
	  <add key="PicovComPort" value="COM4"/>

	  <!--VARIABLE DE CONTROL DE DURACION DE CHEQUEO DE WHITELIST-->
	  <add key="WhitelistInterval" value="60000"/>

	  <!--DIRECCIONES IP DE LAS TERMINALES A INFORMAR ACTUALIZACIONES, EJ: 192.168.1.1,192.168.1.2 -->
	  <add key="TerminalsToUpdate" value="127.0.0.1:83,127.0.0.1:84"/>

	  <!--EVENTO DE MOVIMIENTO PARA ENVIAR A PANGO, EJ: Entry o Exit -->
	  <add key="EventNotificationTypeToSend" value="Entry"/>

	  <add key="MAX_EXPIRED_DAYS" value="5"/>
 
	  <!--OTHER PAYMENT PARAMS-->
	  <add key="Invoice.ShowTax" value="true" />
	  <add key="ServiceDescription" value="PARKING SERVICE" />
	  <add key="TaxFactor" value="6.50"/>
	  <add key="TransactionFeeRate" value="16" />
 
	  <add key="ChangeScreenInterval" value="1000"/>
	  <add key="ApiTerminalInterval" value="1000"/>
	  <add key="ChangePlateInterval" value="1000"/>
 
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
