/.vs/AA.PMS/v16/Server/sqlite3/storage.ide
/.vs/AA.PMS/v16/.suo
/.vs/AA.PMS/v15/.suo
/.vs/AA.PMS/v15/Server/sqlite3/db.lock
/.vs/AA.PMS/v15/Server/sqlite3/storage.ide
/.vs/AA.PMS/v15/Server/sqlite3/storage.ide-shm
/.vs/AA.PMS/v15/Server/sqlite3/storage.ide-wal
AA.PMS.Model.dll
AA.PMS.Model.dll.config
AA.PMS.Model.pdb
EntityFramework.SqlServer.dll
EntityFramework.SqlServer.xml
EntityFramework.dll
EntityFramework.xml
log4net.dll
log4net.xml
/AA.PMS.Core/obj/Debug/AA.PMS.Core.csproj.CoreCompileInputs.cache
/AA.PMS.Core/obj/Debug/AA.PMS.Core.csprojAssemblyReference.cache
/AA.PMS.Core/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/AA.PMS.Core/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/AA.PMS.Core/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/AA.PMS.Core/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/AA.PMS.Model/obj/Debug/AA.PMS.Model.csproj.CopyComplete
/AA.PMS.Model/obj/Debug/AA.PMS.Model.csproj.CoreCompileInputs.cache
/AA.PMS.Model/obj/Debug/AA.PMS.Model.csproj.FileListAbsolute.txt
/AA.PMS.Model/obj/Debug/AA.PMS.Model.csprojAssemblyReference.cache
/AA.PMS.Model/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/AA.PMS.Model/obj/Debug/TempPE/PMSModel.Context.cs.dll
/AA.PMS.Model/obj/Debug/TempPE/PMSModel.Designer.cs.dll
/AA.PMS.Model/obj/Debug/TempPE/PMSModel.cs.dll
/AA.PMS.Model/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/AA.PMS.Model/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/AA.PMS.Model/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/AA.PMS.Model/obj/Debug/edmxResourcesToEmbed/PMSModel.csdl
/AA.PMS.Model/obj/Debug/edmxResourcesToEmbed/PMSModel.msl
/AA.PMS.Model/obj/Debug/edmxResourcesToEmbed/PMSModel.ssdl
/AA.PMS.Service.Core/obj/Debug/AA.PMS.Service.Core.csproj.CoreCompileInputs.cache
/AA.PMS.Service.Core/obj/Debug/AA.PMS.Service.Core.csprojAssemblyReference.cache
/AA.PMS.Service.Core/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/AA.PMS.Service.Core/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/AA.PMS.Service.Core/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/AA.PMS.Service.Core/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/AA.PMS.Service.ParkingTerminals/obj/Debug/AA.PMS.Service.ParkingTerminals.csproj.CoreCompileInputs.cache
/AA.PMS.Service.ParkingTerminals/obj/Debug/AA.PMS.Service.ParkingTerminals.csprojAssemblyReference.cache
/AA.PMS.Service.ParkingTerminals/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/AA.PMS.Service.ParkingTerminals/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/AA.PMS.Service.ParkingTerminals/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/AA.PMS.Service.ParkingTerminals/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/AA.PMS.Service.Payments.Invoicing.GTI/obj/Debug/AA.PMS.Service.Payments.Invoicing.GTI.csproj.CoreCompileInputs.cache
/AA.PMS.Service.Payments.Invoicing.GTI/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/AA.PMS.Service.Payments.Invoicing.GTI/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/AA.PMS.Service.Payments.Invoicing.GTI/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/AA.PMS.Service.Payments.Invoicing.GTI/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/AA.PMS.Service.Payments.Invoicing/obj/Debug/AA.PMS.Service.Payments.Invoicing.csproj.CoreCompileInputs.cache
/AA.PMS.Service.Payments.Invoicing/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/AA.PMS.Service.Payments.Invoicing/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/AA.PMS.Service.Payments.Invoicing/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/AA.PMS.Service.Payments.Invoicing/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/AA.PMS.Service.Payments/obj/Debug/AA.PMS.Service.Payments.csproj.CoreCompileInputs.cache
/AA.PMS.Service.Payments/obj/Debug/AA.PMS.Service.Payments.csprojAssemblyReference.cache
/AA.PMS.Service.Payments/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/AA.PMS.Service.Payments/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/AA.PMS.Service.Payments/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/AA.PMS.Service.Payments/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/AA.PMS.Terminal.BusinessLogic/bin/Debug/AA.PMS.Terminal.BusinessLogic.dll
/AA.PMS.Terminal.BusinessLogic/bin/Debug/AA.PMS.Terminal.BusinessLogic.pdb
/AA.PMS.Terminal.BusinessLogic/bin/Debug/Stateless.dll
/AA.PMS.Terminal.BusinessLogic/bin/Debug/Stateless.xml
/AA.PMS.Terminal.BusinessLogic/obj/Debug/AA.PMS.Terminal.BusinessLogic.csproj.CopyComplete
/AA.PMS.Terminal.BusinessLogic/obj/Debug/AA.PMS.Terminal.BusinessLogic.csproj.CoreCompileInputs.cache
/AA.PMS.Terminal.BusinessLogic/obj/Debug/AA.PMS.Terminal.BusinessLogic.csproj.FileListAbsolute.txt
/AA.PMS.Terminal.BusinessLogic/obj/Debug/AA.PMS.Terminal.BusinessLogic.csprojAssemblyReference.cache
/AA.PMS.Terminal.BusinessLogic/obj/Debug/AA.PMS.Terminal.BusinessLogic.dll
/AA.PMS.Terminal.BusinessLogic/obj/Debug/AA.PMS.Terminal.BusinessLogic.pdb
/AA.PMS.Terminal.BusinessLogic/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/AA.PMS.Terminal.BusinessLogic/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/AA.PMS.Terminal.BusinessLogic/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/AA.PMS.Terminal.BusinessLogic/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/AA.PMS.Terminal.Devices.CardReader.Spec/obj/Debug/AA.PMS.Terminal.Devices.CardReader.Spec.csproj.CoreCompileInputs.cache
/AA.PMS.Terminal.Devices.CardReader.Spec/obj/Debug/AA.PMS.Terminal.Devices.CardReader.Spec.csprojAssemblyReference.cache
/AA.PMS.Terminal.Devices.CardReader.Spec/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/AA.PMS.Terminal.Tester/bin/Debug/AA.PMS.Terminal.BusinessLogic.dll
/AA.PMS.Terminal.Tester/bin/Debug/AA.PMS.Terminal.BusinessLogic.pdb
/AA.PMS.Terminal.Tester/bin/Debug/AA.PMS.Terminal.Tester.exe
/AA.PMS.Terminal.Tester/bin/Debug/AA.PMS.Terminal.Tester.exe.config
/AA.PMS.Terminal.Tester/bin/Debug/AA.PMS.Terminal.Tester.pdb
/AA.PMS.Terminal.Tester/bin/Debug/Stateless.dll
/AA.PMS.Terminal.Tester/bin/Debug/Stateless.xml
/AA.PMS.Terminal.Tester/obj/Debug/AA.PMS.Terminal.Tester.csproj.CopyComplete
/AA.PMS.Terminal.Tester/obj/Debug/AA.PMS.Terminal.Tester.csproj.CoreCompileInputs.cache
/AA.PMS.Terminal.Tester/obj/Debug/AA.PMS.Terminal.Tester.csproj.FileListAbsolute.txt
/AA.PMS.Terminal.Tester/obj/Debug/AA.PMS.Terminal.Tester.csprojAssemblyReference.cache
/AA.PMS.Terminal.Tester/obj/Debug/AA.PMS.Terminal.Tester.exe
/AA.PMS.Terminal.Tester/obj/Debug/AA.PMS.Terminal.Tester.pdb
/AA.PMS.Terminal.Tester/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/AA.PMS.Terminal.Tester/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/AA.PMS.Terminal.Tester/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/AA.PMS.Terminal.Tester/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/AA.PMS.WebApp/bin/AA.PMS.WebApp.dll
/AA.PMS.WebApp/bin/AA.PMS.WebApp.dll.config
/AA.PMS.WebApp/bin/AA.PMS.WebApp.pdb
/AA.PMS.WebApp/bin/Antlr3.Runtime.dll
/AA.PMS.WebApp/bin/Antlr3.Runtime.pdb
/AA.PMS.WebApp/bin/Microsoft.AspNet.Identity.Core.dll
/AA.PMS.WebApp/bin/Microsoft.AspNet.Identity.Core.xml
/AA.PMS.WebApp/bin/Microsoft.AspNet.Identity.EntityFramework.dll
/AA.PMS.WebApp/bin/Microsoft.AspNet.Identity.EntityFramework.xml
/AA.PMS.WebApp/bin/Microsoft.AspNet.Identity.Owin.dll
/AA.PMS.WebApp/bin/Microsoft.AspNet.Identity.Owin.xml
/AA.PMS.WebApp/bin/Microsoft.AspNet.SignalR.Client.dll
/AA.PMS.WebApp/bin/Microsoft.AspNet.SignalR.Client.pdb
/AA.PMS.WebApp/bin/Microsoft.AspNet.SignalR.Client.xml
/AA.PMS.WebApp/bin/Microsoft.AspNet.SignalR.Core.dll
/AA.PMS.WebApp/bin/Microsoft.AspNet.SignalR.Core.pdb
/AA.PMS.WebApp/bin/Microsoft.AspNet.SignalR.Core.xml
/AA.PMS.WebApp/bin/Microsoft.AspNet.SignalR.SystemWeb.dll
/AA.PMS.WebApp/bin/Microsoft.AspNet.SignalR.SystemWeb.pdb
/AA.PMS.WebApp/bin/Microsoft.AspNet.SignalR.SystemWeb.xml
/AA.PMS.WebApp/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
/AA.PMS.WebApp/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
/AA.PMS.WebApp/bin/Microsoft.Owin.Cors.dll
/AA.PMS.WebApp/bin/Microsoft.Owin.Cors.xml
/AA.PMS.WebApp/bin/Microsoft.Owin.Host.SystemWeb.dll
/AA.PMS.WebApp/bin/Microsoft.Owin.Host.SystemWeb.xml
/AA.PMS.WebApp/bin/Microsoft.Owin.Security.Cookies.dll
/AA.PMS.WebApp/bin/Microsoft.Owin.Security.Cookies.xml
/AA.PMS.WebApp/bin/Microsoft.Owin.Security.Facebook.dll
/AA.PMS.WebApp/bin/Microsoft.Owin.Security.Facebook.xml
/AA.PMS.WebApp/bin/Microsoft.Owin.Security.Google.dll
/AA.PMS.WebApp/bin/Microsoft.Owin.Security.Google.xml
/AA.PMS.WebApp/bin/Microsoft.Owin.Security.MicrosoftAccount.dll
/AA.PMS.WebApp/bin/Microsoft.Owin.Security.MicrosoftAccount.xml
/AA.PMS.WebApp/bin/Microsoft.Owin.Security.OAuth.dll
/AA.PMS.WebApp/bin/Microsoft.Owin.Security.OAuth.xml
/AA.PMS.WebApp/bin/Microsoft.Owin.Security.Twitter.dll
/AA.PMS.WebApp/bin/Microsoft.Owin.Security.Twitter.xml
/AA.PMS.WebApp/bin/Microsoft.Owin.Security.dll
/AA.PMS.WebApp/bin/Microsoft.Owin.Security.xml
/AA.PMS.WebApp/bin/Microsoft.Owin.dll
/AA.PMS.WebApp/bin/Microsoft.Owin.xml
/AA.PMS.WebApp/bin/Microsoft.Web.Infrastructure.dll
/AA.PMS.WebApp/bin/Newtonsoft.Json.dll
/AA.PMS.WebApp/bin/Owin.dll
/AA.PMS.WebApp/bin/System.Net.Http.Formatting.dll
/AA.PMS.WebApp/bin/System.Net.Http.Formatting.xml
/AA.PMS.WebApp/bin/System.Web.Cors.dll
/AA.PMS.WebApp/bin/System.Web.Helpers.dll
/AA.PMS.WebApp/bin/System.Web.Helpers.xml
/AA.PMS.WebApp/bin/System.Web.Http.Cors.dll
/AA.PMS.WebApp/bin/System.Web.Http.Cors.xml
/AA.PMS.WebApp/bin/System.Web.Http.Owin.dll
/AA.PMS.WebApp/bin/System.Web.Http.Owin.xml
/AA.PMS.WebApp/bin/System.Web.Http.WebHost.dll
/AA.PMS.WebApp/bin/System.Web.Http.WebHost.xml
/AA.PMS.WebApp/bin/System.Web.Http.dll
/AA.PMS.WebApp/bin/System.Web.Http.xml
/AA.PMS.WebApp/bin/System.Web.Mvc.dll
/AA.PMS.WebApp/bin/System.Web.Mvc.xml
/AA.PMS.WebApp/bin/System.Web.Optimization.dll
/AA.PMS.WebApp/bin/System.Web.Optimization.xml
/AA.PMS.WebApp/bin/System.Web.Razor.dll
/AA.PMS.WebApp/bin/System.Web.Razor.xml
/AA.PMS.WebApp/bin/System.Web.WebPages.Deployment.dll
/AA.PMS.WebApp/bin/System.Web.WebPages.Deployment.xml
/AA.PMS.WebApp/bin/System.Web.WebPages.Razor.dll
/AA.PMS.WebApp/bin/System.Web.WebPages.Razor.xml
/AA.PMS.WebApp/bin/System.Web.WebPages.dll
/AA.PMS.WebApp/bin/System.Web.WebPages.xml
/AA.PMS.WebApp/bin/WebGrease.dll
/AA.PMS.WebApp/bin/roslyn/Microsoft.Build.Tasks.CodeAnalysis.dll
/AA.PMS.WebApp/bin/roslyn/Microsoft.CSharp.Core.targets
/AA.PMS.WebApp/bin/roslyn/Microsoft.CodeAnalysis.CSharp.Scripting.dll
/AA.PMS.WebApp/bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
/AA.PMS.WebApp/bin/roslyn/Microsoft.CodeAnalysis.Scripting.dll
/AA.PMS.WebApp/bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
/AA.PMS.WebApp/bin/roslyn/Microsoft.CodeAnalysis.dll
/AA.PMS.WebApp/bin/roslyn/Microsoft.DiaSymReader.Native.amd64.dll
/AA.PMS.WebApp/bin/roslyn/Microsoft.DiaSymReader.Native.x86.dll
/AA.PMS.WebApp/bin/roslyn/Microsoft.Managed.Core.targets
/AA.PMS.WebApp/bin/roslyn/Microsoft.VisualBasic.Core.targets
/AA.PMS.WebApp/bin/roslyn/System.AppContext.dll
/AA.PMS.WebApp/bin/roslyn/System.Collections.Immutable.dll
/AA.PMS.WebApp/bin/roslyn/System.Console.dll
/AA.PMS.WebApp/bin/roslyn/System.Diagnostics.FileVersionInfo.dll
/AA.PMS.WebApp/bin/roslyn/System.Diagnostics.StackTrace.dll
/AA.PMS.WebApp/bin/roslyn/System.IO.Compression.dll
/AA.PMS.WebApp/bin/roslyn/System.IO.FileSystem.Primitives.dll
/AA.PMS.WebApp/bin/roslyn/System.IO.FileSystem.dll
/AA.PMS.WebApp/bin/roslyn/System.IO.Pipes.AccessControl.dll
/AA.PMS.WebApp/bin/roslyn/System.IO.Pipes.dll
/AA.PMS.WebApp/bin/roslyn/System.Reflection.Metadata.dll
/AA.PMS.WebApp/bin/roslyn/System.Security.AccessControl.dll
/AA.PMS.WebApp/bin/roslyn/System.Security.Claims.dll
/AA.PMS.WebApp/bin/roslyn/System.Security.Cryptography.Algorithms.dll
/AA.PMS.WebApp/bin/roslyn/System.Security.Cryptography.Encoding.dll
/AA.PMS.WebApp/bin/roslyn/System.Security.Cryptography.Primitives.dll
/AA.PMS.WebApp/bin/roslyn/System.Security.Cryptography.X509Certificates.dll
/AA.PMS.WebApp/bin/roslyn/System.Security.Principal.Windows.dll
/AA.PMS.WebApp/bin/roslyn/System.Text.Encoding.CodePages.dll
/AA.PMS.WebApp/bin/roslyn/System.ValueTuple.dll
/AA.PMS.WebApp/bin/roslyn/System.Xml.ReaderWriter.dll
/AA.PMS.WebApp/bin/roslyn/System.Xml.XPath.XDocument.dll
/AA.PMS.WebApp/bin/roslyn/System.Xml.XPath.dll
/AA.PMS.WebApp/bin/roslyn/System.Xml.XmlDocument.dll
/AA.PMS.WebApp/bin/roslyn/VBCSCompiler.exe
/AA.PMS.WebApp/bin/roslyn/VBCSCompiler.exe.config
/AA.PMS.WebApp/bin/roslyn/csc.exe
/AA.PMS.WebApp/bin/roslyn/csc.exe.config
/AA.PMS.WebApp/bin/roslyn/csc.rsp
/AA.PMS.WebApp/bin/roslyn/csi.exe
/AA.PMS.WebApp/bin/roslyn/csi.exe.config
/AA.PMS.WebApp/bin/roslyn/csi.rsp
/AA.PMS.WebApp/bin/roslyn/vbc.exe
/AA.PMS.WebApp/bin/roslyn/vbc.exe.config
/AA.PMS.WebApp/bin/roslyn/vbc.rsp
/AA.PMS.WebApp/obj/Debug/AA.PMS.WebApp.csproj.CopyComplete
/AA.PMS.WebApp/obj/Debug/AA.PMS.WebApp.csproj.CoreCompileInputs.cache
/AA.PMS.WebApp/obj/Debug/AA.PMS.WebApp.csproj.FileListAbsolute.txt
/AA.PMS.WebApp/obj/Debug/AA.PMS.WebApp.csprojAssemblyReference.cache
/AA.PMS.WebApp/obj/Debug/AA.PMS.WebApp.dll
/AA.PMS.WebApp/obj/Debug/AA.PMS.WebApp.pdb
/AA.PMS.WebApp/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/AA.PMS.WebApp/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/AA.PMS.WebApp/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/AA.PMS.WebApp/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/AA.PMS.WebApp/obj/Debug/Tsc.out
/AA.PMS.Terminal.Devices.CardReader.SKAC2Reader.Impl/obj/Debug/AA.PMS.Terminal.Devices.CardReader.SKAC2Reader.Impl.csproj.CoreCompileInputs.cache
/AA.PMS.Terminal.Devices.CardReader.SKAC2Reader.Impl/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/AA.PMS.Terminal.App/obj/Debug/AA.PMS.Terminal.App.csproj.CoreCompileInputs.cache
/AA.PMS.Terminal.App/obj/Debug/AA.PMS.Terminal.App.csprojAssemblyReference.cache
/AA.PMS.Terminal.App/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/AA.PMS.Terminal.App/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/AA.PMS.Terminal.App/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
/AA.PMS.Terminal.App/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/AA.PMS.Terminal.App/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/AA.PMS.Terminal.App/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/AA.PMS.Service.Payments.Processors/obj/Debug/AA.PMS.Service.Payments.Processors.csproj.CoreCompileInputs.cache
/AA.PMS.Service.Payments.Processors/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/AA.PMS.Service.Payments.Processors/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/AA.PMS.Service.Payments.Processors/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/AA.PMS.Service.Payments.Processors/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/AA.PMS.Terminal.Tester/bin/Debug/AA.PMS.Terminal.BusinessLogic.dll.config
/AA.PMS.Terminal.Tester/bin/Debug/AA.PMS.Terminal.Devices.CardReader.Spec.dll
/AA.PMS.Terminal.Tester/bin/Debug/AA.PMS.Terminal.Devices.CardReader.Spec.pdb
/AA.PMS.Core/obj
/AA.PMS.Model/obj/x64/Debug
/AA.PMS.Service.Core/obj/x64/Debug
/AA.PMS.Service.ParkingTerminals/obj/x64/Debug
/AA.PMS.Service.Payments/obj/x64/Debug
/AA.PMS.Service.Payments.Invoicing/obj
/AA.PMS.Service.Payments.Invoicing.GTI/obj/x64/Debug
/AA.PMS.Service.Payments.Processors/obj/x64/Debug
/AA.PMS.Terminal.App/bin/Debug
/AA.PMS.Terminal.App/bin/x64
/AA.PMS.Terminal.App/obj
/AA.PMS.Terminal.BusinessLogic/bin
/AA.PMS.Terminal.BusinessLogic/obj/x64
/AA.PMS.Terminal.Devices.CardReader.SKAC2Reader.Impl/bin
/AA.PMS.Terminal.Devices.CardReader.SKAC2Reader.Impl/obj
/AA.PMS.Terminal.Devices.CardReader.Spec/bin
/AA.PMS.Terminal.Devices.CardReader.Spec/obj
/AA.PMS.Terminal.Jobs/bin
/AA.PMS.Terminal.Jobs/obj/Debug
/AA.PMS.Terminal.Jobs/obj/x64/Debug
/AA.PMS.Terminal.Tester/bin/Debug
/AA.PMS.Terminal.Tester/obj/x64
/AA.PMS.WebApp/obj
/packages

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio 2015/2017 cache/options directory
.vs/

# Visual Studio 2017 auto generated files
Generated\ Files/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NUnit
*.VisualState.xml
TestResult.xml
nunit-*.xml

# Files built by Visual Studio
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb

# Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap

# Visual Studio Trace Files
*.e2e

# Visual Studio code coverage results
*.coverage
*.coveragexml

# Publish Web Output
*.[Pp]ublish.xml
*.azurePubxml
# Note: Comment the next line if you want to checkin your web deploy settings,
# but database connection strings (with potential passwords) will be unencrypted
*.pubxml
*.publishproj

# NuGet Packages
*.nupkg
# NuGet Symbol Packages
*.snupkg
# The packages folder can be ignored because of Package Restore
**/[Pp]ackages/*
# except build/, which is used as an MSBuild target.
!**/[Pp]ackages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/[Pp]ackages/repositories.config
# NuGet v3's project.json files produces more ignorable files
*.nuget.props
*.nuget.targets

# Microsoft Azure Build Output
csx/
*.build.csdef

# Microsoft Azure Emulator
ecf/
rcf/

# Visual Studio cache files
# files ending in .cache can be ignored
*.[Cc]ache
# but keep track of directories ending in .cache
!?*.[Cc]ache/

# Others
ClientBin/
~$*
*~
*.dbmdl
*.dbproj.schemaview
*.jfm
*.pfx
*.publishsettings
orleans.codegen.cs

# Backup & report files from converting an old project file
# to a newer Visual Studio version. Backup files are not needed,
# because we have git ;-)
_UpgradeReport_Files/
Backup*/
UpgradeLog*.XML
UpgradeLog*.htm
ServiceFabricBackup/
*.rptproj.bak

# SQL Server files
*.mdf
*.ldf
*.ndf
*.suo
/.vs/*
/AA.PMS.WebApp/logs/08.03.2020.log.1
/AA.PMS.WebApp/logs
node_modules
/AA.PMS.AutomaticCashier.WebApp/logs
node_modules
