<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="PangoUrl" value="https://testusa.pango-cloud.info/QR_API/" /><!--https://testusa.pango-cloud.info/QR_API/--><!--https://localhost:44347/-->
    <add key="PangoToken" value="LS34asDN@5dsfa11SSQR" />
    <add key="InstallationId" value="100" />
    <add key="SerialNumber" value="1001" />
    <add key="TerminalId" value="1001" />
    <add key="ParkingName" value="TEST" /><!--Identifica el parking en asuntos/cuerpos de correo-->
    <add key="CurrentLanguage" value="en" />
    <add key="Direction" value="ENTRY" />
    <add key="ShowTestInput" value="true" />
    <!--Serial/Output-->
    <add key="ReaderSource" value="Output" />
    <add key="ReaderComPort" value="COM1" />
    <add key="ReaderBauds" value="9600" />
    <!--DATOS DE CONEXION A LA PICOV-->
    <add key="PicovComPort" value="COM4" />
	<add key="PicovBauds" value="115200" />
	  
    <!--VARIABLE DE CONTROL DE DURACION DE CHEQUEO DE WHITELIST-->
    <add key="WhitelistInterval" value="60000" />
    <!--DIRECCIONES IP DE LAS TERMINALES A INFORMAR ACTUALIZACIONES, EJ: 192.168.1.1,192.168.1.2 -->
    <add key="TerminalsToUpdate" value="127.0.0.1:83,127.0.0.1:84" />
    <!--EVENTO DE MOVIMIENTO PARA ENVIAR A PANGO, EJ: Entry o Exit -->
    <add key="EventNotificationTypeToSend" value="Entry" />
    <add key="MAX_EXPIRED_DAYS" value="5" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />

    <add key="ShowServiceButtons" value="false" />

	<add key="ShowQrCodeFormTimeout" value="130000" /><!--V2 y V3-->
    <add key="ShowQrCodeOKTimeout" value="130000" />
    <add key="ShowQrCodeKOTimeout" value="130000" />
	<add key="ShowQrCodePangoPassKOTimeout" value="10000" />
    <add key="PullTicketFormTimeout" value="10000" />
    <add key="PendingChangeScreenInterval" value="2000" />
    <add key="KeyboardFormTimeout" value="10000" />
    <add key="CheckPermitFormTimeout" value="10000" />
    <add key="ShowNotVehicleTimeout" value="3000" />
    <add key="PrintTicketOpenBarrierTimeout" value="2000" />

	<add key="ScreenForm" value="V4_Ticket_PH" /><!--V2, V2WS, VX, VX_QRTicket, VX_3opt, VX_1opt, V3_Ticketless, V4_Ticket_PH-->
	<add key="ShowAllButtons" value="false" /><!--for V4_Ticket_PH-->
    <add key="ShowPlateOrPhone" value="true" />
	<add key="PlateOrPhoneOptions" value="1B" /><!--1(PANGO Ticket), 1B(Plate then Phone), 2(Plate or Phone), 3(Plate, Phone or PANGO Ticket)-->
	<add key="CheckPermitPlate" value="true" /><!--check permits when entering a plate-->
    <add key="HeaderVersion" value="2" />
	<add key="FootVersion" value="2" /><!--1 (QR + pango + price + date), 2 (logo + pango + 24h + date), 3(price + date)-->
    <add key="KeyboardHeaderVersion" value="2" />
	<add key="TicketType" value="PANGO" /><!--PANGO, CITEA-->
    <add key="ShowBtnPrintTicketPango" value="true" />
    <add key="PullTicketShowPhone" value="true" />
	<add key="DateTimeFormat" value="HH:mm tt MM-dd-yyyy" /><!--dddd, MMMM dd, yyyy HH:mm:ss-->
    <add key="CheckLoopDetector" value="true" />

    <!--Email para errores/soporte (envio por Microsoft Graph, HttpClient sin SDK)-->
    <add key="EmailUser" value="support@pangousa.com" /><!--remitente y copia (CC)-->
    <add key="EmailRecipients" value="jcobov@mobilesmart.city,jcano@mobilesmart.city" />
    <add key="Graph-TenantId" value="" />
    <add key="Graph-ClientId" value="" />
    <add key="Graph-ClientSecret" value="" />
    <add key="Graph-Sender" value="support@pangousa.com" />
    <!--//*****************************************-->

	  
    <add key="TicketQRWidth" value="150" />
    <add key="TicketQRHeight" value="150" />
    <add key="TicketQRCorrection" value="L" />
	<add key="TicketQRMargin" value="4" />
    <add key="TicketQRPureBarcode" value="true" />
	<add key="TicketQRMarginLeft" value="15" />
    <add key="PostPrintTicket" value="true" />
    <add key="RestApiUrl" value="https://localhost:8080/pango-api/" />

	<add key="PicobErrorReboot" value="0"/>
    <add key="RestarProcess" value="C:\AccesosAutomaticos\arranque\Reiniciar.bat" />
  </appSettings>
  <connectionStrings>
    <add name="LiteDB" connectionString="Filename=C:\PANGO\GIT_PANGO\Accesos\BD_Entry\pangodb.db;Connection=shared;" />
  </connectionStrings>
  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="file" />
    </root>
    <appender name="console" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="file" type="log4net.Appender.RollingFileAppender">
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <file value="logs\" />
      <datePattern value="dd.MM.yyyy'.log'" />
      <staticLogFileName value="false" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="1MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level %class:%line - %message%newline" />
      </layout>
    </appender>
  </log4net>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>