<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="PangoUrl" value="https://msctest.mobilesmart.city/bm/QR_API/" /> <!--https://testusa.pango-cloud.info/QR_API/-->
	<add key="PangoToken" value="LS34asDN@5dsfa11SSQR"/>
	<add key="InstallationId" value="700"/>
	<add key="SerialNumber" value="7120"/>
	<add key="TerminalId" value="7120"/>
	<add key="CurrentLanguage" value="en"/>
	<add key="Direction" value="EXIT"/>
	<add key="ParkingName" value="TEST"/>
	  
	<add key="ShowTestInput" value="true" />

    <!--Serial/Output-->
	<add key="ReaderSource" value="Output" />
	<add key="ReaderComPort" value="COM1" />
	<add key="ReaderBauds" value="9600" />

    <!--DATOS DE CONEXION A LA PICOV-->
	<add key="PicovComPort" value="COM4" />
	<add key="PicovBauds" value="115200" />

    <!--VARIABLE DE CONTROL DE DURACION DE CHEQUEO DE WHITELIST-->
	<add key="WhitelistInterval" value="6000000" />

    <!--DIRECCIONES IP DE LAS TERMINALES A INFORMAR ACTUALIZACIONES, EJ: 192.168.1.1,192.168.1.2 -->
	<add key="TerminalsToUpdate" value="127.0.0.1:83,127.0.0.1:84" />

    <!--EVENTO DE MOVIMIENTO PARA ENVIAR A PANGO, EJ: Entry o Exit -->
	<add key="EventNotificationTypeToSend" value="Exit" />

	<add key="MAX_EXPIRED_DAYS" value="5" />

    <!--MAIN PAYMENT ACTIVATION FLAG. True to enable the payment process to be actived. Otherwise no incoming payment requests will be processed.-->
	<add key="PaymentServiceEnabled" value="true" />
		
    <!--GLOBAL COM PAYMENT INTERFACE PARAMS-->
    <add key="PaymentProcessorService-GlobalCom" value="AA.PangoApp.Payments.GlobalCom.GlobalComPaymentManager, AA.PangoApp.Payments.GlobalCom" />
    <add key="PaymentProcessor-GlobalCom-ComPort" value="8" />
    <add key="PaymentProcessor-GlobalCom-Bauds" value="115200" />
    <add key="PaymentProcessor-GlobalCom-PurchaseTimeout" value="30" />
    <add key="PaymentProcessor-GlobalCom-PurchaseMaxTimeout" value="300" />
		
    <!--OTHER PAYMENT PARAMS-->
    <add key="Invoice.ShowTax" value="true" />
    <add key="ServiceDescription" value="PARKING SERVICE" />
    <add key="TaxFactor" value="6.50" />
    <add key="TransactionFeeRate" value="16" />

	  <!--PRINTABLE RECEIPT HEADER & FOOTER INFO-->
	  <add key="ReceiptHeader1" value=""/><!-- PORTSMOUTH PEASE AIRPORT    -->
	  <add key="ReceiptHeader2" value=""/>
	  <add key="ReceiptHeader3" value=""/>
	  <add key="ReceiptHeader4" value=""/>
	  <add key="ReceiptHeader5" value="  PORTSMOUTH INTERNATIONAL    "/>
	  <add key="ReceiptHeader6" value="        AIRPORT AT PEASE      "/>

	  <!--si están en blanco las lineas no aparecerán-->
	  <add key="ReceiptAmount" value="Amount: "/>
	  <add key="ReceiptFee" value=""/>
	  <add key="ReceiptTotal" value=""/>

	  <add key="ReceiptTitle" value="                    RECEIPT                  "/>
	  <add key="ReceiptNumber" value="       Receipt #: "/>
	  <add key="ReceiptInvoiceNumber" value="       Auth Number: "/>
	  <add key="ReceiptDate" value="Date/Time: "/>
	  <add key="ReceiptDateFormat" value="MMM dd, yyyy hh:mm tt"/>

	  <add key="ReceiptFooter1" value="      For your convenience Scan "/>
	  <add key="ReceiptFooter2" value="  QR code to download Pango APP "/>
      <add key="ReceiptFooter3" value="             for future visits. "/>
	  <add key="ReceiptFooter4" value="---------------------------------------------"/>
	  <add key="ReceiptFooter5" value="Customer support at 1 (877) 697-2646"/>
	  <add key="ReceiptFooter6" value="---------------------------------------------"/>

	<add key="ApiTerminalInterval" value="1000" />
    <add key="CheckSerialPortsInterval" value="5000" />
	<add key="PaymentRetryTimeout" value="60000" />
	<add key="ShowQrCodeFormTimeout" value="130000" /><!--V2 y V3-->
	<add key="ShowQrCodeOKTimeout" value="8000" />
    <add key="ShowQrCodeKOTimeout" value="25000" />
    <add key="ShowQrCodeChargeTimeout" value="15000" />
    <add key="ShowQrCodeKeyboardTimeout" value="70000" />
	<add key="ShowQrCodePangoPassKOTimeout" value="10000" />
    <add key="ShowTicketFormTimeout" value="10000" />
    <add key="PangoPassFormTimeout" value="5000" />
    <add key="PrintReceiptTimeout" value="400" />
    <add key="PendingPaymentsInterval" value="3000" />
    <add key="PendingChangeScreenInterval" value="3000" />
    <add key="showPlatePhoneTimeout" value="20000" />
    <add key="showNotFoundTimeout" value="15000" />
    <add key="showPaymOptionsTimeout" value="15000" />
    <add key="KeyboardFormTimeout" value="60000" />
    <add key="showLoadingTimeout" value="500" />
    <add key="QrPrint" value="true" />
    <add key="TicketQrLogo" value="" />
    <add key="TicketQrText" value="https://www.mypango.com/get-app/" />
	<add key="QrBussinesLogo" value="true" />
	<add key="LogoBussines" value="C:\\PROYECTOS\\PANGO\\AWSGit\\PangoAppQR\\AA.Pango.App.Exit\\Resources\\BussinesLogo\\pease_logo_black.png"/>

	<add key="UseFakePos" value="false" />

	  <add key="ScreenForm" value="V4_1opt" /><!--V2, V2WS, Vx, Vx_QRTicket, Vx_3opt, Vx_1opt, V4_Ticket_PH-->
	  <add key="PlateOrPhoneOptions" value="2" /><!--1B(Plate then Phone), 2(Plate or Phone)-->
	  <add key="CheckPermitPlate" value="false" /><!--check permits when entering a plate-->
	  <add key="HeaderVersion" value="1" />
	  <add key="FootVersion" value="2" /><!--1 (QR + pango + 24h + date), 2 (logo + pango + 24h + date), 3(24h + date)-->
	  <add key="TicketType" value="PANGO" /><!--PANGO, CITEA-->
	  <add key="DateTimeFormat" value="HH:mm tt MM-dd-yyyy" /><!--dddd, MMMM dd, yyyy HH:mm:ss-->

    <!--Email para errores/soporte (envio por Microsoft Graph, HttpClient sin SDK)-->
    <add key="EmailUser" value="support@pangousa.com" /><!--remitente y copia (CC)-->
    <add key="EmailRecipients" value="jcobov@mobilesmart.city,jcano@mobilesmart.city" />
    <add key="Graph-TenantId" value="" />
    <add key="Graph-ClientId" value="" />
    <add key="Graph-ClientSecret" value="" />
    <add key="Graph-Sender" value="support@pangousa.com" />
    <!--//*****************************************-->

    <add key="RestarProcess" value="C:\AccesosAutomaticos\arranque\Reiniciar.bat" />
		
    <!--PAYMENT PROCESSOR ACTIVE-->
	<add key="PaymentProcessor" value="AMP" /><!--Values: AMP or GlobalCom-->
    <!--AMP PAYMENT INTERFACE PARAMS-->
	<add key="PaymentProcessorService-AMP" value="AA.PangoApp.Payments.AMP.AMPPaymentManager, AA.PangoApp.Payments.AMP" />
	<add key="PaymentProcessor-AMP-ComPort" value="3" />
	<add key="PaymentProcessor-AMP-Bauds" value="115200" />
	<add key="PaymentProcessor-AMP-PurchaseTimeout" value="60" />
	<add key="PaymentProcessor-AMP-PurchaseMaxTimeout" value="300" />
	<add key="PaymentProcessor-AMP-BufferLength" value="16384" />
	<add key="PaymentProcessor-AMP-UseOptimizedDeviceCommands" value="false" />
	<add key="PaymentProcessor-AMP-FirstSleep" value="3000" />
	<add key="PaymentProcessor-AMP-BucleSleep" value="1500" />
	  
	  <add key="PicobErrorReboot" value="0" />

	
  </appSettings>
  <connectionStrings>
    <add name="LiteDB" connectionString="Filename=C:\PROYECTOS\PANGO\QR DB\CP1\LG1\pangodb.db;Connection=shared;" />
  </connectionStrings>
  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="file" />
    </root>
    <appender name="console" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="file" type="log4net.Appender.RollingFileAppender">
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <file value="logs\" />
      <datePattern value="dd.MM.yyyy'.log'" />
      <staticLogFileName value="false" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="1MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level %class:%line - %message%newline" />
      </layout>
    </appender>
  </log4net>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>